<!DOCTYPE html>
<html>
    <title>{{site.caption}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% asset favicon.ico @path %}" >
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: Verdana, sans-serif}
    body, html { height: 100%; line-height: 1.2; }

    .w3-bar .w3-button { padding: 16px; }
    .w3-bar .logo {padding: 0px;}

        a.post_link:link {
        text-decoration: none;
    }

    a.post_link:visited {
        text-decoration: none;
    }

    a.post_link:hover {
        text-decoration: underline;
    }

    a.post_link:active {
        text-decoration: underline;
    }

    </style>

    <body>
        <!-- Navbar (sit on top) -->
        <div class="w3-top" id="m_top">
            <div class="w3-bar w3-white w3-card" id="myNavbar">
                <a href="{{ site.url }}/index.{{ page.lang }}.html" class="w3-bar-item logo w3-wide"><img src="{% asset logo.png @path %}" alt="RMLabs" width="144" height="48"></a>
                <a id="id_tech" href="{{ site.url }}/tech.{{ page.lang }}.html" class="w3-bar-item w3-button"><i class="fa fa-th"></i> {{site.data.lang[page.lang].top.tech}} </a>
                <a id="id_tutorial" href="{{ site.url }}/tutorial.{{ page.lang }}.html" class="w3-bar-item w3-button"><i class="fa fa-newspaper-o"></i> {{site.data.lang[page.lang].top.tutorial}} </a>
                <a id="id_contact" href="{{ site.url }}/contact.{{ page.lang }}.html" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> {{site.data.lang[page.lang].top.contact}} </a>
                <!-- Right-sided navbar links -->
                <div class="w3-right w3-hide-small">
                    <!-- <a href="{{ site.url }}/index.{{ site.data.lang[page.lang].nextLang.code }}.html" class="w3-bar-item w3-button"><font color="red">{{site.data.lang[page.lang].nextLang.text}}</font></a> -->
                    <!-- {{ page.url | jsonify }} -->
                    {% if page.url == '/' %}
                        <a href="{{ site.url }}/index.{{ site.data.lang[page.lang].nextLang.code }}.html" class="w3-bar-item w3-button"><font color="red">{{site.data.lang[page.lang].nextLang.text}}</font></a>
                    {% else %}
                        {% if page.lang == 'en' %}
                            <a href="{{ page.url | replace: ".en.", ".vi."}}" class="w3-bar-item w3-button"><font color="red">{{site.data.lang[page.lang].nextLang.text}}</font></a>
                        {% else %}
                            <a href="{{ page.url | replace: ".vi.", ".en."}}" class="w3-bar-item w3-button"><font color="red">{{site.data.lang[page.lang].nextLang.text}}</font></a>
                        {% endif %}
                    {% endif %}
                </div>
                </a>
            </div>
        </div>
        
        <div class="w3-container" style="padding:48px 16px;position:relative;z-index:0" id="m_content">
            {{ content }}
        </div>

        <footer class="w3-center w3-white w3-padding-24" id="m_footer">
            </a>&copy; {{ 'now' | date: "%Y" }} {{site.title}}</a>
        </footer>
    </body>
</html>
